:root {
    --ms_bg_search: #e4e4e5;
    --orange_bell: #fd8b2e;
    --aside-bg: #102336;
    --bg-grey: #f7f7f7;
    --table-ico: #000;
    --ms-blue: #3a70e2;
    --ms_bedge-bg: #2f5ab4;
}

#ms_bg_search {
    background-color: var(--ms_bg_search);
}


#ms_bg_search_2 {
    background-color: var(--ms_bg_search);
}


.ms_color_bell {
    color: var(--orange_bell);
}


.ms_color_bell::-ms-expand {
    display: none;
}

.ms_width_list {
    height: 50px;
    padding-top: 0;
    line-height: 50px;
}
header {
    height: 70px;
}

main {
    height: calc(100vh - 70px);
    background-color: var(--bg-grey);
}

.logo_exchange {
    width: 70px;
}
.barra_ricerca {
    height: calc(100vh - 70px);
    background-image: url(../img/sidebar-bg.png);
    background-color: var(--aside-bg);
    width: 90px;
}

.ms_header_col {
    line-height: 70px;
}
.ms_max_height {
    align-self: flex-start;
}

.ms_style_icon {
    color: white;
}

.ms_style_icon:hover {
    background-color: white;
    color: black;
}
.ms_ico_display {
    display: none;
}

.ms_hover_bg_w:hover {
    background-color: rgba(255, 255, 255, 0.5);
}
.ms_content {
    width: 100%;
    overflow: scroll;
}

#main_header, .ms_btn {
    background-color: var(--ms-blue);
}
.ms_logo_b {
    display: none;
    width: 100px;
}

.ms_disp_none {
    display: none;
}

.ms_bedge {
    background-color: var(--ms_bedge-bg);
}

.ms_bedge_size {
    font-size: 15px;
}

.ms_bedge_display_iv {
    display: none;
}

.ms_color_white {
    color: white;
}

.ms_image {
    width: 50px;
    display: inline-block;
}
.ms_bg_grey {
    background-color: var(--bg-grey);
    font-weight: 600;
}

.ms_offcanvas {
    min-width: 90vw;
    max-width: 99vw;
}
.ms_span_d {
    font-weight: 600;
    display: inline-block;
}

.ms_border {
    border: 2px solid gray;
    padding: 7px;
    border-radius: 10px;
    color: var(--table-ico);
}

th:first-child {
    text-align: left;
}

.ms_table_display, .ms_table_display_2 {
    display: none;
}
@media screen and (min-width: 576px) {
    .ms_table_display {
        display: table-cell;
    }
    .ms_nuovo_s {
        order: 3;
    }
    .ms_bedge_order {
        order: 1;
    }
    .ms_count_studenti {
        order: 2;
    }
}

@media screen and (min-width: 768px) {
    
    .ms_logo_m {
        display: none;
    }
    .ms_logo_b {
        display: inline-block;
    }
    .logo_exchange {
        width: 100px;
    }
    
    
    .ms_ico_display {
        display: inline-block;
    }
    .ms_disp_none {
        display: inline-block;
        padding-left: 10px;
    }
    .barra_ricerca {
        width: 120px;
    }
    .divider {
        display: flex;
        flex: wrap;
    }
    .ms_left_sec {
        width: 65%;
    }
    .ms_right_sec {
        width: 35%;
    }
    
}

@media screen and (min-width: 992px) {
    .ms_table_display_2 {
        display: table-cell;
    }
    .ms_bedge_display_v {
        display: none;
    }
    .ms_bedge_display_iv {
        display: inline-block;
    }

}