header {
    height: 70px;
}

main {
    height: calc(100vh - 70px);
}

.barra_ricerca {
    height: calc(100vh - 70px);
    background-color: black;
    width: 90px;
}

/* inizio debug */

.ms_bg1 {
    background-color: brown;
    height: 70px;
    border: dashed 5px white;
}

.ms_bg_fluid {
    background-color: skyblue;
    width: 100%;
}

/* fine debug */

.ms_content {
    width: 100%;
    overflow: scroll;
}



@media screen and (min-width: 576px) {

}

@media screen and (min-width: 768px) {
    .divider {
        display: flex;
        flex: wrap;
    }
    .ms_left_sec {
        width: 65%;
    }
    .ms_right_sec {
        width: 35%;
    }
}

@media screen and (min-width: 992px) {

}